<form action=/hp method="post">
  <label for='player1hp'>Player 1 HP:</label><br>
  <input type='text' id='player1hp' name='player1hp'><br>
  <label for='player2hp'>Player 2 HP:</label><br>
  <input type='text' id='player2hp' name='player2hp'><br>
  <input type='submit' value='Submit'>
  </form>